.home-banner {
  background: image-url('portland.jpg') center center no-repeat;
  background-size: cover;
  height: rhythm(16);
  position: relative;
}

.home-banner__title {
  @include transform(translateY(-50%));
  color: $white;
  padding: 0 rhythm(2);
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.home-banner__heading,
.home-banner__sub-heading {
  margin-bottom: 0;
}

.home-banner__sub-heading {
  color: $lt-gray;
}

.home-banner__scroll-arrow {
  @include transform(translateX(-50%));
  bottom: 0.5em;
  color: $gray;
  font-size: rhythm(2);
  left: 50%;
  position: absolute;
}

.home {
  margin-top: rhythm(2);
}
