.home-banner {
  background: url('portland.jpg') center center no-repeat;
  background-size: cover;
  height: rhythm(15);
  position: relative;

  &:after {
    background: color(blue);
    content: '';
    height: 100%;
    opacity: 0.85;
    position: absolute;
    width: 100%;
  }
}

.home-banner__title {
  color: white;
  padding: 0 rhythm(2);
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  z-index: 1;
}

.home-banner__heading,
.home-banner__sub-heading {
  margin: 0;
}

.home-banner__sub-heading {
  color: rgba(255,255,255,0.75);
  font-weight: 400;
}

.tag-line {
  padding: rhythm(2) 0;
  text-align: center;
}

.process {
  padding: rhythm(2) 0;
  text-align: center;
}

.process-items {
  text-align: center;
}
