.home-banner {
  background: image-url('portland.jpg') center center no-repeat;
  background: $marino;
  background-size: cover;
  height: rhythm(16);
  position: relative;
}

.home-banner__title {
  @include transform(translateY(-50%));
  color: $white;
  padding: 0 rhythm(2);
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.home-banner__heading,
.home-banner__sub-heading {
  margin-bottom: 0;
}

.home-banner__sub-heading {
  color: $lt-gray;
}

.process {
  margin-top: rhythm(-2);
}

.process-items {
  position: relative;
}

.process-heading {
  margin-top: rhythm(1.5);
}

.process-icon {
  @include transform(translate(-50%, -50%));
  height: rhythm(3);
  left: 50%;
  position: absolute;
  top: 0;
  width: auto;
}

.process-text {
  display: inline-block;
}
