.site-footer {
  background: color(dk-gray);
  color: white;
  padding: rhythm(2) 0;
  text-align: center;
}

.social-links {
  margin-bottom: rhythm(1);
}

%social-link {
  @extend %transition-all;
  @extend %font-small;
  color: white;
  margin: 0 0.5rem;
}

.social-link--github {
  @extend %social-link;

  @include hover {
    color: color(github);
  }
}

.social-link--dribbble {
  @extend %social-link;

  @include hover {
    color: color(dribbble);
  }
}

.social-link--linkedin {
  @extend %social-link;

  @include hover {
    color: color(linkedin);
  }
}

.social-link--twitter {
  @extend %social-link;

  @include hover {
    color: color(twitter);
  }
}

.social-link--facebook {
  @extend %social-link;

  @include hover {
    color: color(facebook);
  }
}
