.site-header {
  position: fixed;
  text-align: center;
  padding-left: 1rem;
  z-index: 99;
}

.toggle-site-nav {
  @extend %transition-all;
  @extend %font-small;
  @extend %font-normal;
  line-height: rhythm(2);
  margin: 0 auto;
  vertical-align: baseline;

  @include hover {
    text-shadow: 0 2px 4px rgba(0,0,0,0.25);
  }
}

.site-nav__links {
  display: none;
}

.site-nav__link {
  color: white;
  display: block;
  text-decoration: none;
}

.site-nav__link--text {
  @extend %font-small;
}
