$base-line-height: 1.618;

$fonts: (
  base: 1rem,
  small: 1.618rem,
  medium: 2.618rem,
  large: 4.236rem,
  xlarge: 6.854rem
);

@function font($font) {
  @return map-get($fonts, $font);
}

$line-heights: (
  base: 1rem * $base-line-height,
  small: 1rem * $base-line-height,
  medium: 2rem * $base-line-height,
  large: 3rem * $base-line-height,
  xlarge: 5rem * $base-line-height
);

@function line-height($line-height) {
  @return map-get($line-heights, $line-height);
}

$colors: (
  blue: #0076d9,
  tomato: #f1634a,
  purple: #3c4b99,
  white: #ffffff,
  smoke: #f5f4f4,
  lt-gray: #eeeded,
  dk-gray: mix(#424242, blue, 95%),
  black: mix(#212121, blue, 95%),
  github: #555555,
  dribbble: #ea4c89,
  linkedin: #0e76a8,
  twitter: #00acee,
  facebook: #3b5998
);

@function color($color) {
  @return map-get($colors, $color);
};
