$white: #fff;
$seashell: #f1f1f1;
$lt-gray: #ddd;
$gray: darken($lt-gray, 20%);
$meadow: #1db675;
$black: #1d1e1f;

$bittersweet-lt: #fc6e51;
$bittersweet-dk: #e9573f;
$sunflower-lt: #ffce54;
$sunflower-dk: #fcbb42;
$grass-lt: #a0d468;
$grass-dk: #8cc152;
$mint-lt: #48cfad;
$mint-dk: #37bc9b;
$aqua-lt: #4fc1e9;
$aqua-dk: #3bafda;
$bluejeans-lt: #5d9cec;
$bluejeans-dk: #4a89dc;
