// Grayscale
$white: #fff;
$smoke: #f7f7f7;
$seashell: #f1f1f1;
$lt-gray: #ddd;
$gray: darken($lt-gray, 20%);
$black: #1d1e1f;

// Colors
$picton: #45a6dd;
$mariner: #2980b9;
$chambray: #3c4b99;
$trendy: #815aa2;
$tomato: #f1634a;
$jaffa: #f68c44;
