*,
*:before,
*:after {
  @include border-box;
}

@include establish-baseline;

@media (max-width: 72em) {
  html {
    font-size: 100%;
  }
}

body {
  background: $seashell;
  color: $black;
  font-family: "Roboto", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

p,
blockquote,
ul {
  margin: 0 auto rhythm(1, 18px);
}
