$fonts: (
  small: 15.158px,
  base: 18px,
  medium-small: 24.525px,
  medium: 29.124px,
  medium-large: 39.682px,
  large: 47.123px,
  xlarge: 76.245px
);

%font-thin {
  font-weight: 300;
}

%font-normal {
  font-weight: 400;
}

%font-bold {
  font-weight: 700;
}

@each $font, $size in $fonts {
  %font-#{$font} {
    @extend %font-thin;
    @include adjust-font-size-to($size);
    @if ($font == base) {
      margin: 0 0 rhythm(0.5, $size);
    } @elseif ($font == small) {
      margin: 0 0 rhythm(0.5, $size);
    } @else {
      margin: 0 0 rhythm(1, $size);
    }
  }
}

h1 {
  @extend %font-large;
}

h2 {
  @extend %font-medium-large;
}

h3 {
  @extend %font-medium;
}

h4 {
  @extend %font-medium-small;
}

h5 {
  @extend %font-base;
  @extend %font-bold;
}

h6 {
  @extend %font-small;
  @extend %font-bold;
}
