%section.home-banner
  .home-banner__title
    %h1.home-banner__heading.large-heading
      Samuel Thornton
    %h3.home-banner__sub-heading
      Creating the world wide web from Portland, Oregon.
    =link_to "Hire me <i class='ion-paper-airplane inline-icon'></i>".html_safe,
      contact_path, class: 'button--white'

%section.process
  .container
    .column-parent.process-items
      .column--4.process-item
        =image_tag 'process-icon--consult.svg', class: 'process-icon'
        %h5.process-heading Consult
        %span.process-text
          I'll work with you to fully explore your needs and create usable and
          sustainable solutions.
      .column--4.process-item
        =image_tag 'process-icon--design.svg', class: 'process-icon'
        %h5.process-heading Design
        %span.process-text
          I'll create a brand and design that, more than just looks
          good, tells a story about who you are.
      .column--4.process-item
        =image_tag 'process-icon--develop.svg', class: 'process-icon'
        %h5.process-heading Develop
        %span.process-text
          I'll code a smoothly functioning, fully responsive site, using
          modern tools and best-practices.
      .column--4.process-item
        =image_tag 'process-icon--deploy.svg', class: 'process-icon'
        %h5.process-heading Deploy
        %span.process-text
          I'll handle all the server side deployment so that your site is
          readily found and accessed.
