<h1 style="color: blue; font-size: 6rem; font-weight: 600; line-height: 1; margin-bottom: 0; margin-top: -3rem; position: relative">Je m'appelle Sam Thornton</h1>
<h2 style="font-weight: 400; font-size: 3rem; margin: 1.618rem 0;">Web Development &amp; UX Design</h2>
<p style="margin: 1.618rem 0; max-width: 2741px;">
  Passionate about clean code and usable designs, I'm a Portland-based Ruby on Rails full-stack developer currently working in a .NET shop as a senior developer and Director of UX. I'm working on my MDiv right not, but I'm still sometimes <a href="mailto:sdthornton@live.com" style="color: #616161; text-decoration: none; box-shadow: 0 2px 0 #ccc;">available for hire.</a>
</p>
<p style="margin: 1.618rem 0; max-width: 2741px;">
  Find <a href="https://www.linkedin.com/in/samuelthornton" target="_blank" style="color: #616161; text-decoration: none; box-shadow: 0 2px 0 #ccc;">me on LinkedIn</a> for more about my work.
</p>
