%style
  body { background: #0076D9; color: white; font-family: "Lato", "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
%div{ style: 'text-align: center;' }
  %h1{ style: 'font-weight: 300; font-size: 6rem; margin-bottom: 0;' } Sam Thornton
  %h3{ style: 'color: #153f61; font-weight: 400; font-size: 2rem; margin-top: 0;' } The Elusive Web Unicorn
