<div class="wrap">
  <h1 style="color: blue; font-size: 1rem; font-weight: 600; line-height: 1; margin-bottom: 0; margin-top: 0;">Je m'appelle Sam Thornton</h1>
  <h2 style="color: #153f61; font-weight: 400; font-size: 1.618rem; margin: 0;">Web Development &amp; UX Design</h2>
  <p style="margin: 2.618rem auto 0; max-width: 829px;">
    Passionate about clean code and usable designs, I'm a Portland-based Ruby on Rails full-stack developer currently working in a .NET shop as a senior developer and Director of UX. I'm working on my MDiv right not, but I'm still sometimes <a href="mailto:sdthornton@live.com" style="color: #9e9e9e; text-decoration: none; box-shadow: 0 2px 0 #ccc;">available for hire.</a>
  </p>
  <p style="margin: 1.618rem auto 0; max-width: 829px;">
    Find <a href="https://www.linkedin.com/in/samuelthornton" target="_blank" style="color: #9e9e9e; text-decoration: none; box-shadow: 0 2px 0 #ccc;">me on LinkedIn</a> for more about my work.
  </p>
</div>

<div style="bottom: 18px; height: auto; overflow: hidden; position: fixed; right: 18px; transform: rotate(-10deg); width: 35px;">
  <img 
    src="https://scontent.fsnc1-2.fna.fbcdn.net/v/t31.0-8/463024_10151685541755717_267351646_o.jpg?oh=02551f837b1a496a7d09da6d4dc4ac71&oe=593054CD" 
    style="display: block; -webkit-filter: brightness(150%); filter: brightness(150%); margin-left: -60px; margin-top: -30px;"
    width="200"
  />
</div>
