%font-xlarge {
  @include adjust-font-size-to($font-xlarge);
}

%font-large {
  @include adjust-font-size-to($font-large)
}

%font-medium-large {
  @include adjust-font-size-to($font-medium-large);
}

%font-medium {
  @include adjust-font-size-to($font-medium);
}

%font-medium-small {
  @include adjust-font-size-to($font-medium-small);
  margin: 0 0 rhythm(1, $font-medium-small);
}

%font-base {
  @include adjust-font-size-to($font-base);
  margin: 0 0 rhythm(1, $font-base);
}

%font-small {
  @include adjust-font-size-to($font-small);
  margin: 0 0 rhythm(1, $font-small);
}

.large-heading {
  @extend %font-xlarge;
}
