%button {
  @extend %transition-all;
  background: none;
  border: solid 2px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: rhythm(2);
  margin: rhythm(2) 0 0;
  padding: 0 2.5em;
  text-decoration: none;

  @include hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  }
}

.button {
  @extend %button;
  border-color: color(tomato);
  color: color(tomato);

  @include hover {
    background: color(tomato);
    color: white;
  }
}

.button--filled {
  @extend %button;
  border-color: color(tomato);
  background: color(tomato);
  color: white;
}

.button--inline {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.button--white {
  @extend %button;
  border-color: white;
  color: white;

  @include hover {
    background: white;
    color: color(purple);
  }
}
