%container {
  @extend %clearfix;
  background: $white;
  margin: 0 auto;
  max-width: 1152px;
  padding: 0 rhythm(1.5);
  width: 100%;
}

.container {
  @extend %container;
}

.container--full {
  @extend %container;
  padding: 0;
}

.container--cards {
  @extend .container--full;
  background: none;
}

%column-parent {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin-left: -2%;
}

.column-parent {
  @extend %column-parent;
}

%column {
  @extend %clearfix;
  float: left;
  margin-left: 2%;
  min-height: 1px;
}

@for $i from 2 through 5 {
  $width: ((100 - $i * 2) / $i) / 100 * 100%;

  .column--#{$i} {
    @extend %column;
    width: $width;
  }
}

.card-item {
  @include box-shadow(0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10));
  background: $white;
  border-radius: 3px;
  padding: rhythm(1);
  position: relative;
  text-align: center;
}
