%container {
  @extend %clearfix;
  margin: 0 auto;
  width: 100%;
}

.container {
  @extend %container;
  max-width: 1104px;
}

.container--small {
  @extend %container;
  max-width: 560px;
}

%row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  @extend %row;
}

%column {
  @extend %clearfix;
  min-height: 1px;
  padding: 0 1rem;
}

@for $i from 1 through 12 {
  $width: $i * (100/12) * 1%;

  .column--#{$i} {
    @extend %column;
    width: $width;
  }
}

.card-item {
  background: white;
  padding: rhythm(1);
  position: relative;
  text-align: center;
}
