*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: $base-line-height;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 72em) {
  html {
    font-size: 112.5%;
  }
}

body {
  background: color(lt-gray);
  color: color(black);
  font-family: "Lato", "Roboto", "Open Sans", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}
