@each $font, $size in $fonts {
  %font-#{$font} {
    font-size: $size;
    line-height: map-get($line-heights, $font);
  }
}

%font-thin {
  font-weight: 300;
}

%font-normal {
  font-weight: 400;
}

%font-bold {
  font-weight: 700;
}

h1 {
  @extend %font-large;
  @extend %font-thin;
  margin: (2rem * $base-line-height) auto (1rem * $base-line-height);
}

h2 {
  @extend %font-medium;
  @extend %font-normal;
  margin: (2rem * $base-line-height) auto (1rem * $base-line-height);
}

h3 {
  @extend %font-small;
  @extend %font-bold;
}

h4 {
  @extend %font-base;
  @extend %font-bold;
}

h3, h4, p, ul, ol, pre, table, blockquote {
  margin: (1rem * $base-line-height) auto (1rem * $base-line-height);
}
