<article class="post_preview">
  <p><strong><%= post.title %></strong></p>
  <p><%= post.text %></p>
  <p><%= link_to 'Show', show_post_path(post.url), class: 'view_post' %> <%= render 'admin_links', post: post %>
  </p>
</article>
<hr>