- meta title: 'Blog • Samuel Thornton • Front-End Developer & UX Designer • Portland, OR'

%section.blogs
  .container
    - @posts.each do |post|
      = render "post", post: post

    = paginate @posts
