- meta title: "#{@post.title} • Samuel Thornton • Front-End Developer & UX Designer • Portland, OR"

%section.post
  .container
    = render "post", post: @post
    %br

    %p
      = disqus_comments
