@mixin retina {
  @media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    @content;
  }
}

@mixin box-sizing($type) {
  -moz-box-sizing: #{$type}-box; -webkit-box-sizing: #{$type}-box; box-sizing: #{$type}-box;
}

@mixin background-image($url, $size, $position:0 0, $color:transparent, $repeat:no-repeat) {
  background: $color url('#{$url}.png') $position $repeat;
  background-size: $size;
  @include retina {
    background-image: url('#{$url}@2x.png');
  }
}
