<!DOCTYPE html>
<html>
<head>
  <title>I ♥ Sam Thornton | Web Development & UX Design | Portland, Ore.</title>
  <meta name="theme-color" content="#0000ff">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    html {
      font: 200%/1.618 Inconsolata, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    body {
      background: white;
      color: #212121;
      margin: 0;
      padding: 0 1rem;
    }

    @media only screen and (max-width: 768px) { html { font-size: 150%; } }
    @media only screen and (max-width: 480px) { html { font-size: 125% } }
  </style>
</head>
<body>

  <%= yield %>

</body>
</html>
